/*
 * Modifique as configurações para adaptar o player
 * às suas necessidades
 */
:root {
    /* configurações gerais do player*/
    --player-opacity: 0.4;
    --border-radius: 10px;
    
    /* configuração da barra de título*/
    --title-color: #FFF;
    --title-background: rgba(0, 0, 0, var(--player-opacity));
    --title-height: 55px;
    --title-width: auto;rgb(36, 15, 15)
    --title-align: left;
    --title-pading: 0px 0px 0px 10px;
    --title-font-family: Arial, Helvetica, sans-serif; 
    --title-font-size: 12pt;
    --title-font-weight: bold;

    /* configuração da do player */
    --controler-background: var(--title-background);
    --controler-width: 100%;
    --controler-height: 40px;
    --controler-color: #FFF;
    --controler-pading: 0px;
    --controler-font-family: var(--title-font-family);
    --controler-font-weight: normal;
    --controler-icons-size: 24px;
    --progressbar: rgba(0,255,255);
    --progressbar-background: #666;
    --progressbar-background: rgba(200,200,200,var(--player-opacity));

    /* 
    * configura o logotipo
    * o ideal é que o logotipo tenha um fundo transparente
    */
    --logo-height: 50px;
    --logo-opacity: 0.7;
  /*
  * NÃO MODIFICAR DAQUI PARA BAIXO
  */

  --progressbar-percentil: 0%;
  --clicable-modal: calc(100% - calc(var(--title-height) + var(--controler-height) + 5px));

}
#yt-player{
    position: absolute;
    content: "";
    margin: 0 auto;
    border: 0px;
    padding: 0px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: aquamarine;
    z-index: 9900;
    -webkit-border-radius: var(--border-radius);
    -moz-border-radius: var(--border-radius);
    border-radius: var(--border-radius);
    
}
#yt-player .youtube-player{
    -webkit-border-radius: var(--border-radius);
    -moz-border-radius: var(--border-radius);
    border-radius: var(--border-radius);
}

#yt-player .yt-player-modal{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    content: "";
    margin: 0 auto;
    border: 0px;
    padding: 0px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    -webkit-border-radius: var(--border-radius);
    -moz-border-radius: var(--border-radius);
    border-radius: var(--border-radius);
}

#yt-player .yt-player-modal-clicable {
    position: absolute;
    content: " ";
    background-color: transparent;
    width: 100%;
    height: var(--clicable-modal);
    top: var(--title-height);
    z-index: 800;
}

#yt-player .yt-player-modal .yt-player-title{
    display: flex;
    background-color: var(--title-background);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,var(--player-opacity)) 100%);
    width: var(--title-width);
    height: var(--title-height);
    color: var(--title-color);
    justify-content: var(--title-align);
    padding: var(--title-pading);
    align-items: center;
    font-family: var(--title-font-family);
    font-size: var(--title-font-size);
    font-weight: var(--title-font-weight);
    -webkit-border-radius: var(--border-radius) var(--border-radius) 0px 0px;
    -moz-border-radius: var(--border-radius) var(--border-radius) 0px 0px;
    border-radius: var(--border-radius) var(--border-radius) 0px 0px;
}
#yt-player .yt-player-modal .yt-player-controler{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--controler-width);
    height: var(--controler-height);
    background-color: var(--controler-background);
    color: var(--controler-color);
    padding: var(--controler-pading);
    font-family: var(--controler-font-family);
    font-weight: var(--controler-font-weight);
    font-size: var(--controler-icons-size);
    -webkit-border-radius: 0px 0px var(--border-radius) var(--border-radius);
    -moz-border-radius: 0px 0px var(--border-radius) var(--border-radius);
    border-radius: 0px 0px var(--border-radius) var(--border-radius);
}

/*controla a barra de progresso do vídeo*/
#yt-player .yt-player-modal .yt-player-progressbar{
    position: absolute;
    content: " ";
    width: 100%;
    height: 5px;
    bottom: var(--controler-height);
    background-color: var(--progressbar-background);
    z-index: 1050;
}
#yt-player .yt-player-modal .yt-player-progressbar:hover{
    height: 10px;
    cursor: pointer;
    z-index: 1100;
}

#yt-player .yt-player-modal .yt-player-progressbar:before{
    position: absolute;
    content: " ";
    width: var(--progressbar-percentil);
    height: 100%;
    background-color: var(--progressbar);
    transition: width 0.1s;
    z-index: 1100;
}

#yt-player .yt-player-modal a.yt-player-btn{
    padding: 3px;    
    color: var(--controler-color);
    text-decoration: none;
    cursor: pointer;
}

#yt-player.yt-player-fullscreen .yt-player-light,
#yt-player.yt-player-fullscreen .yt-player-modal-light-off,
#yt-player .yt-player-modal .yt-player-element-hidden{
    display: none;
}


#yt-player .yt-player-modal .yt-player-controler .yt-player-play,
#yt-player .yt-player-modal .yt-player-controler .yt-player-pause,
#yt-player .yt-player-modal .yt-player-controler .yt-player-time{
    margin-left: 5px;
}
#yt-player .yt-player-modal .yt-player-controler .yt-player-volume{}


.yt-player-audio-control, .yt-player-volume-bar {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 2px;
    
}

.yt-player-volume-bar {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.yt-player-volume-bar::-webkit-slider-thumb {
    appearance: none;
    width: 15px;
    height: 15px;
    border: none;
    background-color: white;
    box-shadow: none;
    border-radius: 50%;
}

.yt-player-volume-bar::-moz-range-thumb {
    appearance: none;
    width: 15px;
    height: 15px;
    border: none;
    background: white;
    box-shadow: none;
}

.yt-player-volume-bar::-webkit-slider-thumb:hover ,
.yt-player-volume-bar::-moz-range-thumb:hover {
    cursor: ew-resize;
}

#yt-player .yt-player-modal .yt-player-controler .yt-player-time{
    display: inline-block;
    font-size: 12px;
    vertical-align: middle;
}
#yt-player .yt-player-modal .yt-player-controler .yt-player-time .yt-player-currenttime::after{
    content: " / ";
}
    
#yt-player .yt-player-modal .yt-player-controler .yt-player-back{}
#yt-player .yt-player-modal .yt-player-controler .yt-player-next{}
#yt-player .yt-player-modal .yt-player-controler .yt-player-caption{}

#yt-player .yt-player-modal .yt-player-controler .yt-player-fullscreen,
#yt-player .yt-player-modal .yt-player-controler .yt-player-fullscreen-exit{
    margin-right: 5px;
}
#yt-player .yt-player-modal .yt-player-controler .yt-player-controlers-top-right{
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
}
#yt-player .yt-player-modal .yt-player-controler .yt-player-light{}

#yt-player .yt-player-modal-light-off{
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 700;
    opacity: 0.0;
    background-color: rgba(0, 0, 0, 0.9);
    transition: all 1s;
}

#yt-player .yt-player-modal .yt-player-logo{
    position: absolute;
    bottom: calc(var(--controler-height) + 10px);
    right: 10px;
    z-index: 999;

}
#yt-player .yt-player-modal .yt-player-logo img{
    height: var(--logo-height);
    opacity: var(--logo-opacity);
}

#yt-player .yt-player-effect{
    transition: opacity 0.5s, width 0.2s, height 0.2s;
}


#yt-player .yt-player-modal-clicable:after {
    position: absolute;
    display: flex;
    font-family:'Bootstrap-icons';
    content: "\F4F3";
    font-size: 3vw;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.5);
    color: var(--controler-color);
    background-color: var(--controler-background);
    top: 0px;
    left: 0px;
    transition: all 0.5s;
}
#yt-player .yt-player-modal-clicable:hover:after{
    cursor: pointer;
    font-size: 3.5vw;
}


